*{
margin:0;
padding:0;
display:block;

}

body{
	background: #222;
	color:#eee;
	font: 16pt sans-serif;
	text-align:center;
}

head, script,.hide{
	display:none!important;
}
header,footer{
	text-align:center;
	clear:both;
}


canvas,video{
	background:transparent;
	position:absolute;
	border:1px solid #999;
		 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#container{
	width:800px;
	margin:1ex auto;
}

#game{

	height:800px;
}

#mobileControls{
	margin:1em 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#mobileControls a{
	display:inline-block;
	padding:1em;
	v-align:center;
	vertical-align:center;
	color:#fff;
	margin:0 .5ex;
	background:#333;
}


